.contact {
  position: relative;
  background: linear-gradient(to right, #f3e5ce, #f4deb7, #f3e4ce);
  font-family: sans-serif;
  &__header {
    margin-bottom: 3rem;
  }
  @media (max-width: 1100px) {
    padding: 2rem;
  }
  &__profile {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 3rem;
    &-item {
      position: relative;
      display: flex;
      align-items: center;
      gap: 1rem;
      img {
        width: 70px;
        height: 90px;
        object-fit: cover;
        border-radius: 50%;
      }
    }
    &-col {
      display: flex;
      flex-direction: column;
      gap: 5px;
      font-size: 17px;
      z-index: 1;
    }
    &-bg {
      position: absolute;
      width: 250px;
      height: 100px;
      background: #f6d5a4;
      border-radius: 5px;
      left: 20%;
    }

  }
  &__footer{
    position: absolute;
    bottom: 0.1rem;
    left: 0;
    display: flex;
    align-items:center;
    justify-content: space-around;
    width: 100%;
    &-link{
      width:100%;
      text-align:center;
      font-size:20px;
      @media (max-width: 900px){
        font-size: 14px;
      }
    }
  }
}
.form {
  &__info {
    display: flex;
    align-items: center;
    gap: 1rem;
    font-size: 2.2vw;
    font-weight: 500;
    input {
      font-size: inherit;
      font-weight: inherit;
      border: none;
      background: transparent;
      border-bottom: 1px solid #000;
      color: #444;
      &:focus {
        outline: none;
      }
    }
  }
  &__flex {
    display: flex;
    gap: 1rem;
    margin-bottom: 2rem;
    textarea {
      width: 70%;
      background: transparent;
      border: none;
      border-bottom: 1px solid #000;
      font-size: 2.2vw;
      color: #444;
      resize: none;
      &:focus {
        outline: none;
      }
    }
    .coolButton {
      font-weight: 900;
      font-size: 20px;
      position: relative;
      border: none;
      cursor: pointer;
      width: 175px;
      height: 120px;
      background: none;
      color: #fff;
      &:before,
      &:after {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
      &:before {
        content: "";
        background: #000;
        clip-path: path(
          "M154.5,88.5 C131,113.5 62.5,110 30,89.5 C-2.5,69 -3.5,42 4.5,25.5 C12.5,9 33.5,-6 85,3.5 C136.5,13 178,63.5 154.5,88.5 Z"
        );
        transition: clip-path 0.5s cubic-bezier(0.585, 2.5, 0.645, 0.55);
      }
      &:hover:before {
        clip-path: path(
          "M143,77 C117,96 74,100.5 45.5,91.5 C17,82.5 -10.5,57 5.5,31.5 C21.5,6 79,-5.5 130.5,4 C182,13.5 169,58 143,77 Z"
        );
        background: #fff;
      }
      & span {
        mix-blend-mode: difference;
        font-weight: 500;
      }

      &:hover:after {
        transform: translate3d(0, -5px, 0);
      }
      @media (max-width: 800px) {
        & {
          transform: scale3d(0.7, 0.7, 0.7);
          font-size: 23px;
        }
      }
    }
  }
}
@media (max-width: 900px) {
  .form {
    &__flex {
      flex-direction: column;
      textarea {
        font-size: 4vw;
      }
    }
    &__info {
      font-size: 4vw;

      input {
        font-size: 4vw;
      }
    }
  }
}
@media (max-width: 800px) {
  .contact .coolButton {
    transform: scale3d(1, 1, 1);
    font-size: 19px;
  }
}
@media (max-width: 610px) {
  .form {
    &__info {
      flex-direction: column;
      align-items: flex-start;
      font-size: 5vw;
      width: 100%;
      input {
        font-size: inherit;
        width: 100%;
      }
    }
    &__flex {
      textarea {
        width: 100%;
        font-size: 5vw;
      }
    }
  }
}
